# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.pytest_cache/

# Django
backend/db.sqlite3
backend/staticfiles/

# Node
node_modules/
frontend/dist/
frontend/tsconfig.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Editors / OS
.DS_Store
.vscode/
.idea/
