@import "@fontsource/sora/300.css";
@import "@fontsource/sora/400.css";
@import "@fontsource/sora/500.css";
@import "@fontsource/sora/600.css";
@import "@fontsource/sora/700.css";
@import "@fontsource/sora/800.css";
@import "leaflet/dist/leaflet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  --safe-bottom: env(safe-area-inset-bottom);
}

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "ss01" 1, "ss02" 1;
}

.tabnums {
  font-variant-numeric: tabular-nums;
}

.leaflet-container {
  font-family: inherit;
}

@media print {
  .no-print {
    display: none !important;
  }
}
